<div class="icon-container-position">
    <i routerLink="" style="font-size:30px; cursor: pointer;" class="fas fa-shipping-fast"></i>&nbsp;
    <strong routerLink="" style="cursor: pointer; font-size: 1.4em;">Let's Shop</strong>
</div>
<div class="mensagem-position">
    <app-mensagem></app-mensagem>
</div>

<div class="container">
   
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors}" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <br>
            <label for="password">Password</label>
            <input input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <br>
            <button type="submit" class="btn btn-primary"style="background-color: #6c038b; border: none;">Login</button>
        </div>
    </form>
</div>
<div class="create-format">
    &nbsp;<small>New Customer?</small>
    <button [routerLink]="['/registrar']" class="btn btn-secondary btn-sm">Creat your account</button>
</div>